<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Workwiz.PaymentFramework.Shared.RealEx" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Workwiz.PaymentFramework.Shared.Civica" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QueryAuthRequestSrvSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="QueryAuthRequestSrvSoap1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="QueryAuthRequestSrvSoap" contract="CivicaAuthRequest.QueryAuthRequestSrvSoap" name="QueryAuthRequestSrvSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Workwiz.PaymentFramework.Shared.RealEx>
            <setting name="RealExPostUrl" serializeAs="String">
                <value>http://localhost:2437/Realex/epage.cgi.aspx</value>
            </setting>
            <setting name="RealVaultRemoteUrl" serializeAs="String">
                <value>https://epage.payandshop.com/epage-remote-plugins.cgi.aspx</value>
            </setting>
        </Workwiz.PaymentFramework.Shared.RealEx>
        <Workwiz.PaymentFramework.Shared.Civica>
            <setting name="CivicaAppId" serializeAs="String">
                <value>CIT_AI_CIVIC_eBOOKINGS_V1</value>
            </setting>
            <setting name="CivicaPostUrl" serializeAs="String">
                <value>http://localhost:2437/CivicaIcon/WebForm1.aspx</value>
            </setting>
            <setting name="CivicaQueryUrl" serializeAs="String">
                <value>http://localhost:2437/CivicaIcon/QueryAuthRequests.asmx</value>
            </setting>
        </Workwiz.PaymentFramework.Shared.Civica>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>