<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
	    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Workwiz.PaymentFramework.Shared.RealEx" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Workwiz.PaymentFramework.Shared.Civica" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Workwiz.PaymentFramework.Shared.Capita" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
	</configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QueryAuthRequestSrvSoap" />
        <binding name="CapitaScpSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CapitaScpSoapNOSSL">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="QueryAuthRequestSrvSoap1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="QueryAuthRequestSrvSoap" contract="CivicaAuthRequest.QueryAuthRequestSrvSoap" name="QueryAuthRequestSrvSoap" />
      <!--<endpoint address="https://sbsctest.e-paycapita.com:443/scp/scpws"
               binding="basicHttpBinding" bindingConfiguration="CapitaScpSoapNOSSL"
               contract="CapitaScpMultiAccount.scp" name="CapitaScpSoap" />-->

      <endpoint binding="basicHttpBinding" bindingConfiguration="CapitaScpSoap"
               contract="CapitaSimple.scp" name="CapitaScpSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
        <Workwiz.PaymentFramework.Shared.RealEx>
            <setting name="RealExPostUrl" serializeAs="String">
                <value>http://localhost:2437/Realex/epage.cgi.aspx</value>
            </setting>
        </Workwiz.PaymentFramework.Shared.RealEx>
        <!--<Workwiz.PaymentFramework.Shared.RealEx>
          <setting name="RealExPostUrl" serializeAs="String">
            <value>https://hpp.sandbox.realexpayments.com/pay</value>
          </setting>
          <setting name="RealVaultRemoteUrl" serializeAs="String">
            <value>https://epage.sandbox.payandshop.com/epage-remote-plugins.cgi </value>
          </setting>
        </Workwiz.PaymentFramework.Shared.RealEx>-->
        <Workwiz.PaymentFramework.Shared.Civica>
            <setting name="CivicaAppId" serializeAs="String">
                <value>CIT_AI_CIVIC_eBOOKINGS_V1</value>
            </setting>
            <setting name="CivicaPostUrl" serializeAs="String">
                <value>http://localhost:2437/CivicaIcon/WebForm1.aspx</value>
            </setting>
            <setting name="CivicaQueryUrl" serializeAs="String">
                <value>http://localhost:2437/CivicaIcon/QueryAuthRequests.asmx</value>
            </setting>
        </Workwiz.PaymentFramework.Shared.Civica>
        <Workwiz.PaymentFramework.Shared.Capita>
          <setting name="CapitaWebServiceUrl" serializeAs="String">
            <!--<value>http://localhost:2437/Capita/CapitaApi.svc</value>-->
            <value>https://sbsctest.e-paycapita.com:443/scp/scpws</value>
          </setting>
          <setting name="FundCode" serializeAs="String">
            <value>31</value>
          </setting>          
        </Workwiz.PaymentFramework.Shared.Capita>
  </applicationSettings>
<system.codedom>
<compilers>
<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
</compilers>
</system.codedom>

<system.diagnostics>
  <!-- see http://msdn.microsoft.com/en-us/library/ms733025.aspx for details -->
  <!-- use C:\Program Files\Microsoft SDKs\Windows\v6.0A\bin\SvcTraceViewer.exe to view this file : or just double-click on the file -->
  <!-- you may have to stop the ASP.Net dev-server to force the file to be flushed -->
  <!-- "Information, ActivityTracing" -->
  <sources>
    <source     name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true">
      <listeners>
        <add    name="traceListener"
                type="System.Diagnostics.XmlWriterTraceListener"
                initializeData= "C:\Drive_Office\Workwiz\wcf-client.svclog" />
      </listeners>
    </source>
  </sources>
  <trace autoflush="true" />
  
</system.diagnostics>
</configuration>
