<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Workwiz.PaymentFramework.Shared.RealEx" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Workwiz.PaymentFramework.Shared.Civica" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Workwiz.PaymentFramework.Shared.RealEx>
      <!--
      <setting name="RealExPostUrl" serializeAs="String">
        <value>http://localhost:2437/Realex/epage.cgi.aspx</value>
      </setting>
      -->
      <setting name="RealExPostUrl" serializeAs="String">
        <value>https://epage.payandshop.com/epage-remote.cgi</value>
      </setting>
    </Workwiz.PaymentFramework.Shared.RealEx>
  </applicationSettings>
  </configuration>